@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}
input,select,textarea,textarea:focus,input:focus,button:focus,select:focus {
  outline: none;
}
h1,h2,h3,h4,h5,h6,p,span,ul,li,a,.table,textarea,label {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
ul,li {
  list-style: none;
}
a:hover,a:focus {
  text-decoration: none;
}
.container {
  max-width: 1170px;
}
/*Review Page CSS Start*/
.review-sec {
  background: url(../images/reviews-banner.jpg) no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-banner-text h4 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.sec-pad {
  padding: 50px 0;
}
.txt-review-container > ul > li {
  margin: 25px 0;
}
.noguttar-right {
  padding-right: 0px;
}
.txt-rev-img img {
  border-radius: 150px;
  border: 1px solid #ccc;
  width: 81px;
  height: 81px;
}
.testi-txt-box {
  background: #333;
  padding: 20px 20px 20px 60px;
  position: relative;
  transition: all 0.4s ease;
}
.quote-icon {
  position: absolute;
  left: 26px;
  top: 17px;
  color: #ffffff;
  font-size: 20px;
}
.testi-txt-box:hover {
  transform: scale(1.03);
}
.testi-txt-box:after {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #920002;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 26px;
  left: -10px;
  content: "";
}
.testi-txt-box p {
  font-size: 15px;
  color: #ffffff;
  line-height: 1.5em;
}
.testi-star i {
  font-size: 14px;
  color: #f7a61f;
}
.txt-rev-name {
  text-align: right;
  color: #ff727c;
  line-height: 1.2em;
  font-size: 14px;
}
/*End*/


header {
  background: #191919;
  padding: 15px 0;
}
.head-left-box {
  width: 400px;
}
.dashboard-head-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 400px);
  padding-right: 20px;
}
.head-right-box ul {
  display: flex;
  align-items: center;
}
.head-right-box ul li {
  margin: 0 12px;
}
.user-dropdown-wrap {
  position: absolute;
  top: 30px;
  right: -30px;
  z-index: 2;
  border: 1px solid #ddd;
  border-radius: .25rem;
  background: #fff;
  width: 380px;
  transition: all 0.5s ease-in-out;
  /*opacity: 0;*/
  display: none;
  max-height: 450px;
  overflow: auto;
  border-radius: 5px;
}
.user-dropdown {
  transition: all 0.5s ease-in-out;
}
.user-dropdown:hover .user-dropdown-wrap {
  transform: scale(0.7);
  display: block;
  /*opacity: 1;*/
}
.user-btns {
  display: block;
  background: #191919;
  padding: 15px 15px;
}
.user-btns .user-btn {
  font-weight: 700;
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background: #fff;
  color: #191919;
  padding: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.user-btns .user-btn:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-weight: 500;
}
.notification-dropdown-wrap {
  position: absolute;
  top: 15px;
  right: 150px;
  z-index: 2;
  border: 1px solid #ddd;
  border-radius: .05rem;
  background: #fff;
  width: 380px;
  transition: all 0.5s;
  /*opacity: 0;*/
  display: none;
  max-height: 450px;
  overflow: auto;
  border-radius: 5px;
}
.notification-item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.notification-item-image {
  width: calc(100% - 80%);
}
.notification-item-text {
  width: calc(100% - 25%);
  padding-left: 10px;
}
.notification-item-text p {
  font-size: 14px;
  font-weight: 400;
  color: #1a1a1a;
}
.notification-dropdown:hover .notification-dropdown-wrap {
  transform: scale(0.7);
  display: block;
}
.notification-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #191919;
  padding: 15px 0px;
}
.notification-btns .notification-btn {
  font-weight: 700;
  font-size: 16px;
}
.notification-btns .notification-btn:hover {
  color: #fff;
}
.head-image {
  margin-right: 0 !important;
  position: relative;
}
.head-image:after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #60c54b;
}
.head-image img {
  max-width: 60px;
}
.head-right-box ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.search-form input[type=search]:focus {
  outline: 0;
}
.search-form input[type=search]:focus {
  background: url(../images/search-icon2.png) no-repeat 9px center;
}
.search-form input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  background: url(../images/search-icon.png) no-repeat 9px center;
  border: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  width: 15px;
  padding: 9px 10px;
  color: transparent;
  cursor: pointer;
}
.search-form input[type=search]:focus {
  width: 300px;
  padding-left: 50px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  border-radius: 10px;
  border-bottom: solid 1px transparent;
}
.search-form input:-moz-placeholder {
  color: #191919;
}
.search-form input::-webkit-input-placeholder {
  color: #191919;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .search-form input[type=search] {
    padding: 20px 20px;
  }
}

.dashboard-sec .row {
  margin-right: 0;
}
aside {
  background: #191919;
  width: 100%;
  max-width: 400px;
  text-align: center;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-top: 35px;
}
.side-logo {
  margin-bottom: 50px;
}
.side-logo a img{
  max-width: 190px;
}
.user-profile {
  display: flex;
  align-items: center;
  padding: 0px 0 0 50px;
}
.profile-image {
  position: relative;
}
.profile-image img {
  border-radius: 100%;
  max-width: 60px;
  height: 60px;
}
.profile-image:after {
  content: '';
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #60c54b;
}
.user-name p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-align: left;
  padding: 0 0 0 15px;
  line-height: 1.2;
}
.user-name p strong {
  font-weight: 600;
}
.dashboard-links {
  padding-top: 50px;
}
.dashboard-links .nav .nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  display: block;
  text-align: left;
  padding: 10px 50px 10px;
  margin-bottom: 10px;
  border-radius: 0;
}
.dashboard-links .nav .nav-link i {
  margin-right: 10px;
}
.dashboard-links .nav .nav-link.active {
  color: #000;
  background: #fff;
}
.right-box-wrap {
  width: calc(100% - 500px);
  /*! background: #f7f7f7; */
  padding: 70px 0 0 35px;
  margin: 0 0 0 390px;
}
.black-head {
  font-size: 24px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 30px;
}
.user-info-box {
  max-width: 885px;
  width: 100%;
  border-radius: 10px;
  background: #e8edf2;
  padding: 25px 50px 30px;
  margin-bottom: 30px;
}
/*Avtar CSS Start*/
.avatar-upload {
  position: relative;
  max-width: 125px;
  margin: 0 0 25px 0;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #23bcf5;
  color: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #191919;
  border-color: #191919;
}
.avatar-upload .avatar-edit input + label:after {
  content: "";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*End*/
.info-box {
  border-radius: 10px;
  background: #fff;
  padding: 30px 20px 15px;
}
.infox-box-tilte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.info-box .infox-box-tilte .heading {
  font-size: 20px;
  font-weight: 500;
}
.user-detail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: 15px 10px;
  margin-bottom: 15px;
}
.details label {
  font-size: 14px;
  font-weight: 500;
  color: #cccccc;
  text-transform: uppercase;
}
.details p {
  font-size: 16px;
  font-weight: 600;
  color: #191919;
} 
.edit-btn a {
  background: #191919;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 35px;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  border: 1px solid #2b3745;
}
.edit-btn a:hover {
  color: #191919;
  background: transparent;
  border: 1px solid #191919;
  font-weight: 500;
}
.change-pass-wrap {
  max-width: 885px;
  width: 100%;
  border-top: 1px solid #cccccc;
  padding: 25px 0;
}
.pass-btn-box {
  margin: 25px 0;
}
.black-btn {
  background: #191919;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 35px;
  border-radius: 10px;
  text-transform: uppercase;
  border: 1px solid #191919;
  transition: all 0.3s ease-in-out;
}
.black-btn:hover {
  color: #191919;
  background: transparent;
  font-weight: 500;
}
.change-pass-wrap p {
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  max-width: 510px;
  line-height: 1.8;
}
/*My Orders CSS Start*/
.order-detail-box {
  width: 100%;
  overflow: visible;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  padding: 15px 0;
  white-space: normal;
}
.dataTables_wrapper .dataTables_filter {
  display: none;
}
thead.thead-dark {
  background: #191919;
}
thead.thead-dark th {
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: #fff !important;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  background-color: #fff !important;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #fff;
}
table.dataTable.no-footer {
  border-bottom: none;
  border-radius: 10px;
  border: 1px solid #cccccc;
  overflow: hidden;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  display: none;
}


.order-detail-box .table .thead-dark th {
  color: #fff;
  background-color: #191919;
  border-color: #191919;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.order-detail-box .table tbody th, td {
  font-weight: 400;
  font-size: 16px;
  color: #191919;
  text-align: center;
}
.green-color {
  color: #26b53d !important;
}
.yellow-color {
  color: #fb9b1c !important;
}
/*Billing CSS Start*/
.payment-box {
  max-width: 850px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-text p {
  color: #191919;
  margin-bottom: 5px;
}
.payment-text label {
  font-size: 14px;
  font-weight: 500;
  color: #cccccc;
}
.transaction-history-box {
  padding: 25px 0;
}
.alert-box {
  max-width: 850px;
  width: 100%;
  background: #cccccc;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  margin-top: 15px;
}
/*Modal CSS Start*/
.payment-popup .modal-content {
  background: #191919;
  border-radius: 10px;
}
.popup-head {
  padding: 10px 0 15px;
  border-bottom: 1px solid #8c8c8c;
  position: relative;
}
.close-btn {
  position: absolute;;
  top: -5px;
  right: 0;
  opacity: 1;
}
.close-btn span {
  color: #fff !important;
  opacity: 1;
  text-shadow: none;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}
.popup-head h6 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.popup-head p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.popup-head p span {
  color: #888888;
}
.payment-types {
  padding: 15px 0 0;
}
.payment-types p {
  color: #888888;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}
.payment-type {
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  background: #fff;
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}
.payment-type:hover {
  color: #191919;
}
.payment-type img {
  margin-right: 10px;
}
/*End*/

/*Creadit Card Modal CSS Start*/
.credit-card-info {
  padding: 20px 0;
}
.card-input {
  width: 100%;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #191919;
}
.card-btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #191919;
  text-transform: uppercase;
}
/*End*/


.address-box{
  width: 100%;
  border-radius: 10px;
  background: #e8edf2;
  padding: 25px;
}
.address-box p{
  font-size: 14px;
  font-weight: 400;
  color: #191919;
}
.address-box .name{
  font-size: 20px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 10px;
}
.address-box .btn-wrap{
  margin-top: 10px;
}
.address-box .btn-wrap a{
  display: inline-block;
  background: #191919;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 35px;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  border: 1px solid #191919;
}
.address-box .btn-wrap .edit{
  background: transparent;
  color: #191919;
}
.add-address{
  width: 100%;
  height: 100%;
  border: 1px solid #f1f0f5;
}
.add-address a{
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #191919;
  border-radius: 10px;
  color: #191919;
  font-size: 22px;
}
.c-popups h6{
  margin-bottom: 5px;
}
.c-popups .popup-head{
 margin-bottom: 15px; 
}
.c-popups .modal-dialog {
  max-width: 800px;
}
.c-popups .form-group label{
  display: block;
  color: #cbcbcb;
  margin-bottom: 5px;
  font-size: 14px;
}
.c-popups .form-group input,
.c-popups .form-group select{
  width: 100%;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #191919;
}

.dashboard-links .nav .nav-link.active{
  position: relative;
}
.dashboard-links .nav .nav-link.active:before{
  content: '';
  position: absolute;
  right: 0;
  height: 44px;
  width: 44px;
  top: -44px;
}

.cart-list-item{
  border-bottom: 1px solid #ddd;
  /*border-top: 1px solid #ddd;*/
  padding: 15px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.cart-list-item:last-of-type{
  border-bottom: none;
}
.cart-list-item:first-of-type{
  border-bottom: 1px solid #ddd;
}
.cart-list-item .product-img{
  width: 100px;
  max-height: 120px;
}
.cart-list-item .product-img img{
  height: 100%;
}
.cart-list-item .product-name{
  width: calc(40% - 6px);
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-list-item .product-name p.name{
  font-size: 21px;
  font-weight: 500;
  line-height: 1.2;
  color: #2b3745;
}
.cart-list-item .product-name p.code{
  font-size: 13px;
  padding: 5px 0;
}
.cart-list-item .product-name p.code span:nth-of-type(1){
  font-weight: 600;
  color: #054a55;
}
.cart-list-item .product-name p.code span:nth-of-type(2){
  font-weight: 500;
}
.cart-list-item .product-name p.price{
  font-size: 15px;
  font-weight: 600;
  color: #2b3745;
}
.cart-list-item .product-quantity-wrap {
  width: 215px;
}
.cart-list-item .product-quantity-wrap .quaitity-box{
  margin: 0;
}
.cart-list-item .product-action-price{
  width: calc(35% - 100px);
  justify-content: space-between;
  padding-left: 15px;
}
.cart-list-item .product-action-price p{
  color: #2b3745; 
  font-size: 18px;
  font-weight: 600;
}
.cart-list-item .product-action-price .remove-cart-item{
  color: #dc3545; 
}
.cart-list-item .product-action-price .remove-cart-item i,
.cart-list-item .product-action-price .add-cart-icon i{
  font-size: 20px;
}
.cart-list-item .product-action-price .add-cart-icon{
  color: #2b3745;
  margin-right: 10px;
}
/*PRODUCT QUANTITY INPUT*/
.quaitity-box{
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #191919;
  border-radius: 10px;
}
.quaitity-box .plus-minus {
  position: relative;
  padding-left: 100px;
}
.quaitity-box .plus-minus label {
  position: absolute;
  left: 0;
  font-size: 17px;
  padding-top: 2px;
  margin: 0;
}
.quaitity-box .qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center
}
.quaitity-box .qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  color: #282828;
  cursor: pointer;
}
.quaitity-box .qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  color: #282828;
  cursor: pointer;
}
.quaitity-box .plus-minus span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.quaitity-box .plus-minus input {
  border: 0;
  width: 2%;
  background: #efefef !important;
  font-size: 17px;
  color: #191919;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #c2c2c2;
  text-align: center;
  width: 27px;
  margin: 0 7px;
  outline: none;
}
.quaitity-box .plus-minus input::-webkit-inner-spin-button,
.quaitity-box .plus-minus input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.quaitity-box .plus-minus input:disabled {
  background-color: #fff
}
.cart-list-item .product-quantity-wrap .quaitity-box {
  margin: 0;
}
.y-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.gen-text{
  color: #898989;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;

}
.claim-form{
  padding-bottom: 30px;
}
.claim-form .form-top p{
  color: #898989;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
.claim-form .form-top .heading{
  font-size: 22px;
  font-weight: 600;
  color: #191919;
  text-align: left;
}
.claim-form label{
  font-size: 15px;
  font-weight: 500;
  color: #191919;
}
.claim-form .custom-control-label{
  color: #898989;
  font-size: 15px;
  line-height: 1.5;
}
.claim-form input,
.claim-form select{
  width: 100%;
  height: 44px;
  border: 1px solid #ccc;
  padding: 9px 15px;
  border-radius: 8px;
  font-size: 13px;
}
.claim-form input[type=file]{
  border: 1px solid #ccc;
}
.claim-form textarea{
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  resize: none;
  border-radius: 8px;
}
.claim-form .submit{
  background: #191919;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 35px;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  border: 1px solid #191919;
}

/*CONSIGNEE TABLE*/
.consignee-table-top, 
.booking-table-top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.consignee-table-top a, 
.booking-table-top a{
  width: 120px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: all 0.25s 
}
.card-select {
  width: 100%;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #191919;
}
/*BOOKING TABLE & MODAL START'S*/
.gen-table-wrap, 
.booking-table-top {
  width: 1480px;
}
.gen-table-wrap table.dataTable thead .sorting {
  background-position-x: calc(100% + 4px);
}
.gen-table-wrap table.dataTable thead th {
  padding-left: 10px;
  padding-right: 10px;
}
.gen-table-wrap table.dataTable.nowrap th,
table.dataTable.nowrap td {
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  white-space: normal;
}
.gen-table-wrap table.dataTable.nowrap td a {
  padding-right: 15px;
  color: #191919; 
}
.gen-table-wrap table.dataTable.nowrap td a:last-of-type {
  padding-right: 0px;
  color: #ea9e41; 
}
.gen-table-wrap table.dataTable.nowrap td a i {
  font-size:35px; 
}
.dataTables_wrapper {
  overflow: auto;
}
.booking-tab label {
  color: #191919;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
}
.booking-tab label span {
  color: red;
}
.booking-tab .heading {
  font-size: 22px;
  color: #191919;
  font-weight: 600;
  padding: 15px 0;
  text-transform: capitalize;
  border-top: 1px solid #8c8c8c;
}
.booking-tab .heading:first-of-type {
  border: 0;
}
.booking-tab textarea {
  width: 100%;
  height: 100px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 10px;
  color: #191919;
  resize: none;
}
.booking-tab .infox-box {
  margin-bottom: 20px;
}
.booking-tab .infox-box:last-of-type{
  margin-bottom: 0;
}
.booking-tab form{
  border: 1px solid #8c8c8c;
  border-radius: 10px;
  padding: 15px;
}
.booking-tab .popup-head h6 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.booking-tab .action-btn {
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
  transition: all 0.25s;
}
.booking-tab .action-btn:hover {
  color: #191919;
  background: transparent;
  border: 1px solid #191919;
  font-weight: 500;
}
.booking-tab .editor-info p {
  color: #191919;
  font-size: 13px;
  font-weight: 500;
}
.booking-tab .editor-info p span:last-of-type{
  color: #9b9b9b;
  padding-right: 10px;
}
.genrate-btn {
  max-width: 410px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.genrate-btn .req-btn {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: #191919;
  color: #fff;
  border-radius: 10px;
}
.req-btn:hover{
  color: #fff;
}
/*BOOKING TABLE & MODAL END'S*/
#tracking-info-modal .modal-dialog {
  max-width: 1000px;
}
#tracking-info-modal .modal-content {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
#tracking-info-modal .main-heading {
  font-size: 33px;
  font-weight: 600;
  color: #1eac01;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}  
#tracking-info-modal .top-tagline {
 font-size: 18px;
 font-weight: 500;
 color: #191919;
 text-align: center; 
 margin-bottom: 15px;
}
#tracking-info-modal .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tracking-info-modal .tagline {
 font-size: 18px;
 font-weight: 500;
 color: #898989;
 text-align: center;
}
#tracking-info-modal .heading {
  font-size: 32px;
  font-weight: 600;
  color: #191919;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}  
#tracking-info-modal .origin, 
#tracking-info-modal .destination {
  padding: 30px;
}
.detail-list{
  display: flex;
  justify-content: center;

}
#tracking-info-modal .detail.box {
  border-top: 1px solid #8c8c8c;
  padding: 20px;
}
#tracking-info-modal .detail.box:last-of-type {
  padding-bottom: 0;
}
#tracking-info-modal .tracking-box {
  border: 1px solid #8c8c8c;
  border-radius: 10px;
  padding: 20px;
}
.gen-border {
  border-right: 1px solid #8c8c8c;
}
#tracking-info-modal .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 24px;
  width: 30px;
  height: 30px;
  background: #1eac01;
  border-radius: 100%;
  text-shadow: none;
  color: #fff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  outline: none;
  border: none;
}
#tracking-info-modal .print-icon {
  font-size: 22px;
  color: #191919;
  position: absolute;
  top: 30px;
  right: 30px;
}
#tracking-info-modal .print-icon span {
  font-size: 16px;
  font-weight: 500;
  color:#191919;
  padding-left: 6px;
}
.booking-filter .filter-btn {
  width: 200px;
  background: #191919;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  border: 1px solid #2b3745;
  text-align: center;
}
.booking-filter .filter-btn:hover{
  background: transparent;
  border: 1px solid #191919;
  color: #191919;
}
.track-detail{
  padding: 15px 0px 15px 0px;
}
.track-detail table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.track-detail table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.track-detail table tr {
  background-color: #ffff;
  border: 1px solid #eee;
  padding: .35em;
}
.track-detail table th,
.track-detail table td {
  padding: .625em;
  text-align: start;
  border-right: 1px solid #eee;
}
.track-detail table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.track-detail td {
  font-size: 16px;
  color: #191919;
  font-weight: 500;
}
.track-detail td span {
  color: #898989;
  font-weight: 400;
  padding-left: 5px;
}
.status-table{
   padding: 15px 0px 0px 0px;
   border-top: 1px solid #8c8c8c;
   border-bottom: none;
}
.track-detail table th {
    font-size: 16px;
    font-weight: 700;
}